.main-index img {
    position: fixed;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.heading {
    background-color: gray;
    padding: 50px;
    text-align: center;
    text-shadow: 3px 2px red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main {
    padding: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
}